/* REGLAGES GENERAUX */

body{
    
    font-family: 'Raleway', sans-serif; 
    margin: auto;
}

*{
    box-sizing: border-box;
}
.blocpage{
max-width: 1440px;
    margin: auto; 
}

/* HEADER */


#header-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}
nav ul{
    display: flex;
    }

   li{
        list-style: none;
        text-transform: capitalize;  
    }

    nav ul a{
        text-decoration: none;
        margin: 0 30px;
    }

    nav a:hover{
        border-top: 2px solid #0065FC;
        padding-top: 15px;
    }
    #header-logo img{
        width: 100px;
        height: 45px;
        padding-left: 10px;
    }

    h1{
        font-size: 20px;
    }

    .opacity{
  font-size: 15px;
  opacity: 0.5;
    }   

    header h1{
        padding-top: 20px;
    }

    /* HEADER MEDIA QUERIES */

     /*tablettes*/

  @media screen and (min-width:768px) and (max-width: 992px)
  {
    .blocpage{
        margin: 0 25px;}
  }

     /*mobiles*/

@media screen and (max-width:767px) {

    .blocpage{
        max-width: 767px;
        margin: auto;
        
    }
    #header-logo{
        display: block;
        text-align: center;
    }

    #header-logo img{
        margin-left: 40px;
    }


    nav ul {
    margin: 5px 0;
    padding: 0;
    }
    nav a:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 5px;
    }


    nav ul li{
        width: 100%;
    }

}
    


/* MAIN */

    /* BARRE DE RECHERCHE - FORMUMAIRE */


    .barre-recherche i, .barre-recherche form, .barre-recherche button{

        display: inline;
        box-sizing: border-box;
        }
    
        .barre-recherche input, .barre-recherche button{
                    height: 50px;
            border: none;
        }
    
        .barre-recherche i{
        padding:17.5px 20px;
        background-color: #f2f2f2;
        position: relative;
        left: 5px;
        border-radius: 15px 0 0 15px;
        color: black;
        
        }
    
        .barre-recherche input{
          border: 2px solid #f2f2f2;
            padding: 0 10px;
            position: relative;
            font-weight: bold;
            font-size: medium;
            
        
        }
    
       
        .barre-recherche button{
            background-color: #0065FC;
            color: white;
            font-weight: bold;
            border-radius: 0 15px 15px 0;
            padding: 0 20px;
            position: absolute;
        }
    
        


/* FILTRES */

h2{
    font-size: 20px;

}
.filtres h2 {
    margin-right: 25px;
    margin-left: 15px;
}

.filtres{
display: flex;
flex-wrap: wrap;
align-items: center;
margin-top: 30px;


}

.filtres-textIcones{
    display: flex; 
   
    flex-wrap: wrap;
}

.filtres-rubrique{

    border: 3px solid #f2f2f2;
    border-radius: 30px; 
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0 25px;
}

.filtres-rubrique i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border-radius: 50px;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    font-size: 20px;
    position: relative;
    right: 5px;

}

.filtres-rubrique button{
border: none; 
 background: none;
    padding-left: 5px;
    padding-right: 32px;
    font-weight: bold;
}

.filtres-rubrique:hover{
    background-color:#DEEBFF;
}

.filtres-rubrique button:hover{
    color: #0065FC;
}

.filtres-rubrique i:hover{
    background-color: white;
    color: black;
}

.filtres-infos p{
display: inline-block;

}


.filtres-infos i{
    color: white;
    background-color: #0065FC;
    border-radius: 30px;

}

.filtres-infos{
    margin-top: 20px;
}


.hebergements h2{
    font-size: 20px;
    padding-left: 20px;
}
.hebergements p{
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 40px;
}
h3{
    font-size: 15px;
}
H4{
    font-size: 12px;
    font-weight: lighter;
}

.filtres h3 {
    margin-right: 25px;
}

/************ MEDIA QUERIES BARRE DE RECHERCHE - FILTRES **************/
  /*tablettes*/


  @media screen and (min-width:768px) and (max-width: 992px)
  
  {  
    .filtres-textIcones{
    gap: 25px;}

  }

  /*laptop et grands ecrans*/

  @media screen and (min-width:768px)
      {
       .barre-recherche .bouton-a-cacher-992{
            display: none;
        }
    
  }

  /*mobiles*/

@media screen and (min-width:320px) and (max-width:767px) {
    .recherche-filtres-texte h1{
        margin: 15px;  
              
    }
    .recherche-filtres-texte p{
        text-align: left;
        margin: 15px;
    }
    .barre-recherche{
       margin: 0 15px;
    }

    .barre-recherche .bouton-a-cacher-768{
        display: none;
     
    }
    .barre-recherche .bouton-a-cacher-992{
        background: none;
    }
    .barre-recherche .bouton-a-cacher-992 i{
        background: #0065FC;
        position: absolute;
        top: 0;
        left:-40px
        ;
        border-radius: 15px;
        color: white;
    }

.filtres{
    margin: 0 15px;
}

  .filtres-textIcones{
    margin: 0;
    gap: 15px
    ;
  }

    .filtres-rubrique{
        margin: 0;  
        height: 40px;
    }
    .filtres-rubrique i{
        height: 40px;
        width: 40px;
    }
   
    
    .filtres-rubrique button {
     
        padding-right: 10px;
        margin: 0;
        font-size: 12px;
    }    

    .filtres-infos{
        margin: 15px 15px 0 15px;
    }
   
    
    }

/* CARDS *//*******************************************************************/


.conteneur-milieu-page{
   
    height: 600px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 60px;
}
.hebergements{
    width: 66%;
    height: 600px;
  
    border-radius: 15px;
}
.conteneur-populaires{
    height: 600px;
    width: 33%;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.conteneur-cartes{
    display: flex;
    gap: 12.5px;
    justify-content: center;
    flex-wrap: wrap;
}

.conteneur-cartes a{
    flex-basis: 30%;}

.article-hebergement{
    margin: 12.5px;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
 
}
.article-hebergement img{
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
   
}

    .hebergements{
        background-color: #f2f2f2;
    }

.etoile-padding{
    padding-left: 15px;
}

aside{
    margin-left: 25px;
}
.titre-populaires{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px;
}

.titre-populaires i{
    color: black;
}


.hebergements h2{
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 0px;
}

.hebergements p{
    font-weight: bold;
    margin-left: 10px;
    margin-top:15px;

}

.hebergements h3, .hebergements h4{
    padding-left: 10px;
    margin: 5px;
}

i{
    color: #0065FC;

}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}

.article-populaires{
height: 150px;
display: flex;
padding: 5px;
border-radius: 15px;
background-color: white;

}
.article-populaires img{
    width: 33%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
 

}
.top3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
   padding: 0 25px;
}




.etoile-grise i{
    color:#f2f2f2
}


/************ MEDIA QUERIES BARRE DE RECHERCHE - cards milieu page **************/
  /*tablettes*/

  @media screen and (min-width:768px) and (max-width: 992px)
  {
 
    .conteneur-milieu-page{
        flex-wrap: wrap;
        height: auto;
        
        }
        .hebergements{
            width: 100%;
            height: auto;
        }
        .conteneur-cartes{
            flex-wrap: wrap;
        }
        .conteneur-cartes a{
            width: 45%;
        }
        .article-hebergement{
            width: 100%;
            margin: 12.5px 0;
        }

        .conteneur-populaires{
            width: 100%;
            margin-top: 15px;
            margin-left: 0;
        }
         .article-populaires img{
            height: 100%;
         }
     

     .activites h3{
        font-size: 11px;

     }
    }
    
/*mobiles */

@media screen and (max-width:767px) {

  

.conteneur-milieu-page{
    flex-wrap: wrap-reverse;
    height: auto;
}

.conteneur-cartes{
    width: 100%;
    height: auto;
    padding: 25px 15px;
    gap: 10px;
}

.conteneur-cartes a{
    flex-basis: 100%;}



.hebergements{
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.hebergements h2{
    margin-bottom: 25px;
}

.hebergements p{
   margin: 15px 0 0 15px;
    padding: 0;
}

aside{
    margin-left: 0;
}



.conteneur-populaires{
    width: 100%;
    height: auto;
    border-radius: 0;
}

.titre-populaires{
    margin: 0 15px;
}


.top3{
    gap: 12.5px 0;
    padding: 25px 15px;
}

.article-populaires{
    height: auto;
}

.article-populaires img{
    height: auto;
}



.hebergements{
    background: none;
}

.article-hebergement{
    width: 100%;
    margin: 0;
    box-shadow: 3px 3px #f2f2f2, -1em 0 .4em #f2f2f2;

}
.hebergements h2{
    margin:0;
}
}




/* ACTIVITES */

.conteneur-populaires h3, .conteneur-populaires h4
{
    padding-left: 10px;
    margin: 5px;
}



.activites-conteneur{
    display: flex;
    gap: 25px
    ;
    width: 100%;
 margin-bottom: 55px;
 margin-top: 25px;
    
}

.activites-lieu,.cartes-colonnes{
    width: 25%;
    /* border: 2px solid yellow; */
    height: 450px;

}
.activites-lieu{
    border: 1px solid #f2f2f2;
    border-radius: 15px;

}

.activites-conteneur h3{
    padding: 0 15px;
}


.activites-lieu img{
    height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0 0;    
}

 /* .articles-colonnes{
    height: 225px;
  

}  */

.articles-colonnes img{

    height:175px;
    object-fit: cover;
    width: 100%;

}

.article-carre{
    height: 235px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #f2f2f2;
    
}

.article-carre img{
    height: 185px;
    width: 100%;
    object-fit: cover;
border-radius: 15px 15px 0 0;
}

.article-rectangle{
    height: 190px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #f2f2f2;

}

.article-rectangle img{
    height: 140px;
    width: 100%;
object-fit: cover;
border-radius: 15px 15px 0 0;}

.cartes-colonnes{
    display: flex;
    flex-direction: column;
    gap: 25px
    ;
}


/*mobiles */

@media screen and (max-width:767px) {

.activites h2{
    margin: 0 15px;
}

.activites-conteneur{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 0 15px;
}


.activites-lieu{
    height:auto;
    width: 100%;
}

.activites-lieu img{
    height: auto;
}

.activites-conteneur img{
    height: 130px;
}


.cartes-colonnes{
    height: auto;
    width: 100%;
}

.article-carre, .article-rectangle{
    height: auto;
}

}

    /* FOOTER*/

    footer{
        background: #f2f2f2;
    }
        .bloc-footer{
            display: flex;
            justify-content: left;
             gap: 300px;
             max-width: 1440px;
            padding-top: 60px;
             margin: auto;

           
        } 
        
    .bloc-footer ul{
        padding: 0;
    }
    
    
    
    footer li{
       
        text-transform: none;
    }
    
    a:visited{
        text-decoration: none;
        color: black;
    } 

/*mobiles */



/************ MEDIA QUERIES FOOTER **************/
  /*tablettes*/

  @media screen and (min-width:768px) and (max-width: 992px)
  {
    .bloc-footer{
      gap: 100px;
        justify-content: center;
    }
} 
 
@media screen and (min-width:320px) and (max-width:767px) {

    .bloc-footer{
        flex-direction: column;
        gap: 15px;
        padding: 0 15px;
   
    }
}
