/* REGLAGES GENERAUX */

body{
    
    font-family: 'Raleway', sans-serif; 
    margin: auto;
}

*{
    box-sizing: border-box;
}
.blocpage{
    max-width: 1440px;
    margin: auto; 
}

/* HEADER */


#header-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}
nav ul{
    display: flex;
    }

   li{
        list-style: none;
        text-transform: capitalize;  
    }

    nav ul a{
        text-decoration: none;
        margin: 0 30px;
    }

    nav a:hover{
        border-top: 2px solid #0065FC;
        padding-top: 15px;
    }
    #header-logo img{
        width: 100px;
        height: 45px;
        padding-left: 10px;
    }

    h1{
        font-size: 20px;
    }

    .opacity{
  font-size: 15px;
  opacity: 0.5;
    }   

    header h1{
        padding-top: 20px;
    }

    /* HEADER MEDIA QUERIES */

  

    @media screen and (max-width: 768px)
    {

        .blocpage{
            width: 100%;
        }
      
        #header-logo{
        flex-direction: column;
   
    }

    nav ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        }

       nav a:hover{
            border-bottom: 2px solid #0065FC;
            padding-bottom: 15px;
            
        }
        nav a:hover{
            border-top: none;
            padding-top: none
            ;
        }
        nav {
            border-bottom: 2px solid #f2f2f2;
        }

        nav ul{
            padding-inline-start: 0px
                }
       #header-logo img{
        margin-left: 60px;
       }
    }

/* MAIN */

    /* BARRE DE RECHERCHE - FORMUMAIRE */


    .barre-recherche i, .barre-recherche form, .barre-recherche button{

        display: inline;
        box-sizing: border-box;
        }
    
        .barre-recherche input, .barre-recherche button{
                    height: 50px;
            border: none;
        }
    
        .barre-recherche i{
        padding:17.5px 20px;
        background-color: #f2f2f2;
        position: relative;
        left: 5px;
        border-radius: 15px 0 0 15px;
        color: black;
        
        }
    
        .barre-recherche input{
          border: 2px solid #f2f2f2;
            padding: 0 10px;
            position: relative;
            font-weight: bold;
            font-size: medium;
            
        
        }
    
       
        .barre-recherche button{
            background-color: #0065FC;
            color: white;
            font-weight: bold;
            border-radius: 0 15px 15px 0;
            padding: 0 20px;
            position: absolute;
        }
    
        


/* FILTRES */

h2{
    font-size: 20px;

}
.filtres h2 {
    margin-right: 25px;
    margin-left: 15px;
}

.filtres{
display: flex;
flex-wrap: wrap;
align-items: center;
margin-top: 30px;

}

.filtres-textIcones{
    display: flex; 
   
    flex-wrap: wrap;
}

.filtres-rubrique{

    border: 3px solid #f2f2f2;
    border-radius: 30px; 
    display: flex;
    height: 50px;
    align-items: center;
    margin-right: 17px;    
}

.filtres-rubrique i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border-radius: 50px;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    font-size: 20px;
    position: relative;
    right: 5px;

}

.filtres-rubrique button{
border: none; 
 background: none;
    padding-left: 5px;
    padding-right: 32px;
    font-weight: bold;
}

.filtres-rubrique:hover{
    background-color:#DEEBFF;
}

.filtres-rubrique button:hover{
    color: white;
}

.filtres-rubrique i:hover{
    background-color: white;
    color: black;
}

.filtres-infos p{
display: inline-block;

}

.filtres-infos i{
    color: white;
    background-color: #0065FC;
    border-radius: 30px;

}

.filtres-infos{
    margin-top: 20px;
}
/*************************************************/

.hebergements h2{
    font-size: 20px;
    padding-left: 20px;
}
.hebergements p{
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 40px;
}
h3{
    font-size: 15px;
}
H4{
    font-size: 12px;
    font-weight: lighter;
}

h3,h4{
    padding-left: 10px;
    margin: 5px;
}

/************ MEDIA QUERIES BARRE DE RECHERCHE - FILTRES **************/
@media screen and (max-width:768px)
{
    .barre-filtre{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .barre-recherche{
        margin-right: 0px;
    }
    .recherche-filtres-texte, .barre-recherche{
        width: 40%;
    }
   
    .barre-recherche button{
        border-radius: 15px;
    
     }
    .barre-recherche .bouton-a-cacher-768
       { display: none;
    } 
    

    .barre-recherche .bouton-a-cacher-992{
     background: none;
    } 

.bouton-a-cacher-992 i{
    color: white;
    background-color: #0065FC;
    border-radius: 15px;
    position: absolute;
    bottom: 0px;
    left:-40px;
    
}

.filtres{
    flex-direction: column;
}
.filtres h3{
    padding-bottom: 15px;
}
.filtres-textIcones{
    width: 50%;
  
    
}

.filtres-rubrique{
    margin-bottom: 15px;
}

}

@media screen and (min-width:769px)
 {
    
.barre-recherche .bouton-a-cacher-992{
    display: none;
}
.barre-recherche .bouton-a-cacher-992 i{
    
    display: none;
}

}
/* CARDS *//*******************************************************************/


.conteneur-milieu-page{
   
    height: 600px;
    display: flex;
    margin-top: 15px;
}
.hebergements{
    width: 66%;
    height: 600px;
  
    border-radius: 30px;
}
.conteneur-populaires{
    height: 600px;
    width: 33%;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.conteneur-cartes{
    display: flex;
    gap: 12.5px;
    justify-content: center;
    flex-wrap: wrap;
 
}
.article-hebergement{

width: 270px;
    margin: 12.5px;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
 
}
.article-hebergement img{
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
   
}

    .hebergements{
        background-color: #f2f2f2;
    }

.etoile-padding{
    padding-left: 15px;
}

aside{
    margin-left: 25px;
}
.titre-populaires{
    display: flex
    ;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px;
}

.titre-populaires i{
    color: black;
}


.hebergements h2{
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 0px;
}

.hebergements p{
    font-weight: bold;
    margin-left: 10px;
    margin-top:15px;

}

i{
    color: #0065FC;

}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}

.article-populaires{
height: 150px;
    width: 100%;
display: flex;
padding: 5px;
border-radius: 15px;
background-color: white;

}
.article-populaires img{
    width: 125px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
 

}
.top3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin: 0 25px;
}

.etoile-grise i{
    color:#f2f2f2
}






/* ACTIVITES */


.activites-conteneur{
    display: flex;
    gap: 25px
    ;
    width: 100%;
 
    
}

.activites-lieu,.cartes-colonnes{
    width: 25%;
    /* border: 2px solid yellow; */
    height: 450px;

}
.activites-lieu{
    border: 1px solid #f2f2f2;
    border-radius: 15px;

}
.activites-lieu img{
    height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0 0;    
}

 /* .articles-colonnes{
    height: 225px;
  

}  */

.articles-colonnes img{

    height:175px;
    object-fit: cover;
    width: 100%;

}

.article-carre{
    height: 260px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #f2f2f2;
    
}

.article-carre img{
    height: 185px;
    width: 100%;
    object-fit: cover;
border-radius: 15px 15px 0 0;
}

.article-rectangle{
    height: 190px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #f2f2f2;

}

.article-rectangle img{
    height: 115px;
    width: 100%;
object-fit: cover;
border-radius: 15px 15px 0 0;}

.cartes-colonnes{
    display: flex;
    flex-direction: column;
    gap: 25px
    ;
}
.activites{
    margin-top: 50px;
}

    /* FOOTER*/

footer{
    display: flex;
    gap: 250px
    ;
   
 padding-top: 60px;
    background-color: #f2f2f2;


} 




footer ul{
padding: 0;
margin-left: 40px;
}
footer h3{
    padding: 0;
    margin-left: 40px;
}
footer li{
    padding: 5px 0;
    width: 100%;
}

a:visited{
    text-decoration: none;
    color: black;
}
.activites{
    margin-bottom: 60px;
}