body{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
margin: auto;
max-width: 1440px;
  
    

}
#header-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}
nav ul{
    display: flex;
    justify-content: space-around;
    }

    nav li{
        list-style: none;
        text-transform: capitalize;
       
    }
    nav{
    width: 30%;
    }

    nav ul a{
        text-decoration: none;
    
    }

    nav ul a:hover{
        border-top: 1px solid #0065FC;
        color: #0065FC;
    }
    #header-logo img{
        width: 100px;
        height: 45px;
        padding-left: 10px;
    }
    h1{
        font-size: 20px;
        font-weight: bolder;
    }

    .p-opacity{
  font-size: 15px;
    }   
    header h1{
        padding-top: 20px;
    }



#barre-recherche{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 25%;
}

.icone-barre{
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    
}
 .formulaire-barre{
    height: 50px;
    display: flex;
}

.input-ville{
    border: none;
    padding-left: 10px;
    width: 180px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
   font-weight: bold;
}

.button-barre{
    height: 50px;
    width: 130px;
  background-color: #0065FC;  
  position: relative;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
 
 
} 

.button{
    border: none;
    background-color: none;
    color: white;
    background-color: #0065FC; 
    position: absolute;
    top: 16px;
    left: 16px;
    font-weight: bold;
}

#filtres{
    display: flex;
    justify-content: space-between;
    width: 60%;
margin-top: 15px;
}


 
 
#filtres i{
    color: #0065FC;
}    


.icones-filtres{
    display: flex;
  
    height: 50px;
  
border: 2px solid #f2f2f2;
border-radius:30px;

}  

.icones{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #DEEBFF;
   
    
}



.rubrique{
    display: flex;   
width: 125px;
 justify-content: center;    
}

.filtre-familial{
    width: 85px;
    display: flex;
    justify-content: center;
}

    .filtre-romantique{
        width: 110px;
        display: flex;
        justify-content: center;
}

.filtre-animaux{
    width: 160px;
    display: flex;
    justify-content: center;}

.filtres-infos{
    display: flex;
    align-items: center;

}

.filtres-infos p{
    padding: 10px;
    opacity: 0.5;
    font-size: 15px;
}

.filtres-infos i{
    color: white;
    background: #0065FC;
    border-radius: 30px;

  
}



.hebergements-marseille{
    width: 55%;
    border: 2px solid red;
    background-color: #f2f2f2;
    
    
}



.etoile-coloree{
    color: #0065FC;
    display: inline;
}
.etoile-non-coloree{
    color: #f2f2f2;
    display: inline;
}
.hebergement-articles{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
    justify-content: space-between;
    background-color: white;
   
   
}

.hebergement-articles article{
    width: 33%;
    height: 33%;
    
}
.hebergement-articles img{
    width: 100%;
    height: 121.45px;
    object-fit: cover;
}

.hebergement-articles span{
    opacity: 0.5;
}
.hebergement-articles a{
    text-decoration: none;
    
}
